/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: currentColor;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* theme */

:root {
  --text: #000000;
  --highlight: #ffdeeb;
  --primary: #f06595;
  --primary-hover: #f783ac;
  --primary-active: #e64980;
  --border: #dddddd;
  accent-color: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight: #fff0f633;
    --text: #ffffff;
    --border: #444444;
  }
}

::selection {
  background-color: var(--highlight);
}

:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

body {
  color: var(--text);
  font-family: ui-rounded, system-ui, sans-serif;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary-hover);
}

p {
  margin: 1rem 0;
}

h1 {
  line-height: 1;
}

h2 {
  margin: 4rem 0 2rem;
}

h3 {
  margin: 4rem 0 1rem;
}

h2 a,
h3 a {
  position: relative;
  color: var(--text);
  text-decoration: none;
}

h2 a:hover,
h3 a:hover {
  color: var(--text);
}

h2 a[href^="#"]:hover::before,
h3 a[href^="#"]:hover::before {
  content: "⚓️";
  font-size: 0.75em;
  display: block;
  position: absolute;
  left: -0.5rem;
  top: 50%;
  translate: -100% -50%;
  margin-top: 0.0625em;
}

h2::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--border);
}

ul {
  padding-left: 1.5em;
}

button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: 0;
  border-radius: 8px;
  background-color: var(--primary);
  color: #fff;
}

button:hover {
  background-color: var(--primary-hover);
}

button:active {
  background-color: var(--primary-active);
}

input {
  width: 100%;
  border: none;
}

details {
  margin: 1rem 0;
  padding: 16px;
  border: 1px solid var(--border);
  border-radius: 12px;
}

summary {
  margin: -16px;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: bold;
  cursor: default;
}

details[open] summary {
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 16px;
  text-align: left;
}

td {
  border: 1px solid var(--border);
  border-left: 0;
  border-right: 0;
}

/* layout */

.content {
  max-width: 75rem;
  margin: 0 auto;
  padding: 40px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}

@media (min-width: 480px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.version {
  display: inline-block;
  font-size: 1rem;
  font-family: ui-monospace;
  opacity: 0.5;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.github {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}

.github:hover {
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .github {
    background-color: #ffffff;
    color: #000000;
  }

  .github:hover {
    color: #000000;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 12px;
}

.prescroll {
  overflow: auto;
}

.codeblock {
  margin: 1em 0;
  border: 1px solid var(--border);
  padding: 12px 16px;
  border-radius: 12px;
  overflow: auto;
}

/* spreadsheet */

#spreadsheet {
  font-size: 0.75em;
}

#spreadsheet .hidden {
  display: none;
}

#spreadsheet th,
#spreadsheet td {
  padding: 4px 8px;
  border: 1px solid var(--border);
}

#spreadsheet th {
  text-align: center;
  background-color: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  #spreadsheet th {
    background-color: transparent;
  }
}

#spreadsheet td {
  position: relative;
}

#spreadsheet label {
  outline-offset: 0;
}

#spreadsheet label,
#spreadsheet input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2px 4px;
}
